<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Elibrary</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/user/getHome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register">Add Librarian</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user/logOut">Log out</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<table class="table caption-top">
    <caption>List of users</caption>
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Login</th>
        <th scope="col">Password</th>
        <th scope="col">Phone number</th>
        <th scope="col">Active</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usersForAdmin,i : ${list}">
        <td th:text="${i.index+1}"></td>
        <td th:text="${usersForAdmin.name}"></td>
        <td th:text="${usersForAdmin.login}"></td>
        <td th:text="${usersForAdmin.password}"></td>
        <td th:text="${usersForAdmin.phoneNumber}"></td>
        <td th:text="${usersForAdmin.active}"></td>
        <td>
            <a class="btn btn-warning" th:href="${'/user/edit/'+usersForAdmin.id}">Edit</a>
            <a class="btn btn-danger" th:href="${'/user/delete/'+usersForAdmin.id}">Delete</a>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>